@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Onest:wght@100..900&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest", sans-serif;
  scroll-behavior: smooth;
}
