.login-page{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #0505053d;
    z-index: 100;
}

.login-form{
    width: 25vw;
    background: #fff;
    padding: 30px;
    border: none;
    border-radius: 10px;
}

.form-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-head h1{
    text-transform: uppercase;
}

.form-head i{
    font-size: 16px;
}

form{
    margin: 40px 0;
}

form .input-box{
    display: flex;
    align-items: start;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.input-box .input{
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}

.input-box .input label{
    font-size: 15px;
    color: #363636;
}

.input-box .input input{
    height: 40px;
    width: 100%;
    margin-top: 4px;
    border: 1px solid #8b8b8bb7;
    border-radius: 8px;
    padding-left: 10px;
}

form .submit-btn{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    height: 40px;
    border: none;
    background: #55aff8;
    color: white;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
}

form .submit-btn:hover{
    background: #56a1df;
}

.login-form p{
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.login-form p span{
    color: #55aff8;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width:1200px) {
    .login-form{
        width: 50vw;
    }
}

@media (max-width: 900px){
    .login-form{
        width: 60vw;
    }
}

@media (max-width: 650px) {
    .login-form{
        width: 80vw;
    }
}