.footer {
    width: 100%;
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50rem;
    padding: 100px 0;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #e3e3e3;
}

.footer-head h1 {
    font-size: 35px;
    font-weight: 500;
}

.footer-head p {
    width: 25rem;
    color: #666;
    font-size: 14px;
}

.footer .links {
    display: flex;
    align-items: center;
    gap: 10rem;
}

.footer .links .nav-links,
.social-links {
    list-style: none;
    font-size: 19px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    color: #8f8f8f;
}

.footer .links .nav-links h1,
.social-links h1 {
    font-size: 30px;
    color: #555;
}

.footer .links .nav-links li,
.social-links li {
    padding-left: 20px;
}

.footer-text-para {
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
}


@media (max-width: 750px) {
    .footer{
        flex-direction: column;
        gap: 7rem;
    }
}