.product-page {
    width: 85vw;
    margin: auto;
}

.product-page .product-page-title h1{
    text-align: center;
    font-size: 50px;
    font-family: "DM Serif Text", sans-serif;
    font-weight: 600;
    letter-spacing: 0.7px;
    margin-top: 30px;
}

.product-page .product-page-title h1 span{
    color: #55aff8;
    letter-spacing: 0.7px;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.products .item {
    max-width: 350px;
    max-height: 350px;
    position: relative;
    margin-top: 100px;
}

.products .item .item-img {
    width: 100%;
    height: 100%;
}

.products .item:nth-child(21) .item-img,
.item:nth-child(22) .item-img,
.item:nth-child(23) .item-img,
.item:nth-child(24) .item-img,
.item:nth-child(25) .item-img,
.item:nth-child(6) .item-img,
.item:nth-child(7) .item-img,
.item:nth-child(8) .item-img,
.item:nth-child(9) .item-img,
.item:nth-child(10) .item-img,
.item:nth-child(11) .item-img,
.item:nth-child(12) .item-img,
.item:nth-child(13) .item-img,
.item:nth-child(14) .item-img,
.item:nth-child(15) .item-img{
    object-fit: contain;
}

.products .item .add-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.products .item .add-icon img{
    width: 40px;
}

.products .item .add-icon .add-remove-btn {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#addTocarthidden{
    display: none;
}

#hidden{
    display: none;
}