.cart{
    width: 85vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: auto;
}

.cart-products{
    width: 60vw;
}

.cart-item-title{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    background: #b6b6b62f;
    border-top: 1px solid #a9a9a9a8;
    border-bottom: 1px solid #a9a9a9a8;
    padding: 10px;
    color: #666;
    font-weight: 600;
    margin: 20px 0;
}

.cart-item-title p{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cart-products .cart-products-list .cart-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 15px;
    margin-bottom: 20px;
}

.cart-products-list .cart-item p{
    display: flex;
    align-items: start;
    justify-content: center;
}

.cart-products-list .cart-item .cart-item-img{
    width: 100%;
}

.cart-products-list .cart-item .cart-item-name{
    height: 40px;
    overflow: hidden;
}

.cart-products-list .cart-item .cart-item-increment{
    display: grid;
    place-items: center;
}

.cart-products-list .cart-item .cart-item-increment .add-icon{
    width: 15px;
}

.cart-products-list .cart-item .cart-item-price-discount{
    color: #fc3737;
}

.cart-products-list .cart-item .cart-item-remove .remove-btn{
    width: 15px;
}


.cart-total{
    max-width: 600px;
    min-width: 400px;
    padding: 14px 30px;
    box-shadow: 0 0 10px 2px #00000010;
    border-radius: 10px;
    margin-top: 100px;
    text-align: center;
}

.cart-total h1{
    font-size: 30px;
    font-weight: 600;
    font-family: "DM Serif Text", sans-serif;
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.cart-total .cart-bill{
    list-style: none;
    padding: 10px;
    line-height: 30px;
    margin-top: 30px;
}

.cart-total .cart-bill .cart-total-price,
.cart-total-discount,
.cart-total-bill{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-total .cart-bill .cart-total-price p,
.cart-total-discount p,
.cart-total-bill p{
    font-weight: 600;
    font-size: 17px;
}

.cart-total .cart-bill .cart-total-discount span{
    color: #f33d3d;
}

.cart-total .section{
    height: 1px;
    border: none;
    border-radius: 50px;
    background: #000;
    margin: 10px 0;
}

.cart-discount-cuopon{
    margin-top: 100px;
}

.cart-discount-cuopon .cart-discount-cuopon-head{
    font-size: 23px;
    font-weight: 400;
    color: #555;
}

.cart-discount-cuopon .cart-discount-input{
    display: flex;
    align-items: center;
    margin-top: 20px;
    height: 50px;
    width: 300px;
}

.cart-discount-cuopon .cart-discount-input input{
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border: 1px solid #333;
    outline: none;
    border-radius: 10px 0 0 10px;
}

.cart-discount-cuopon .cart-discount-input button{
    background: #333;
    color: white;
    font-size: 15px;
    height: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 0 10px 10px 0;
}

.cart-total .cart-rent-btn{
    width: 90%;
    background: #020202;
    color: white;
    text-align: center;
    font-size: 15px;
    padding: 13px 20px;
    margin-top: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
}























@media (max-width: 1200px) {
    .cart{
        flex-direction: column;
        gap: 5rem;
    }

    .cart-products{
        width: 80vw;
    }
}

@media (max-width: 750px) {
    .cart{
        flex-direction: column;
    }
    .cart-products{
        width: 85vw;
    }
}