.subscription-section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
}

.subscription-heading{
    text-align: center;
}

.subscription-heading h1{
    font-size: 35px;
    font-weight: 500;
    font-family: "source serif", sans-serif;
}

.subscription-heading p{
    color: #999;
    font-size: 13px;
    letter-spacing: 0.4px;
}

.subscription-form{
    width: 100%;
    height: 50px;
}

.subscription-form form{
    text-align: center;
    margin: 20px 0;
    height: 100%;
}

.subscription-form form input{
    height: 100%;
    width: 400px;
    border: 1px solid #666;
    border-radius: 5px 0 0 5px;
    padding-left: 20px;
    font-size: 15px;
    outline: none;
}

.subscription-form form button{
    height: 100%;
    width: 150px;
    border: 1px solid #666;
    border-left: none;
    background: #000;
    color: white;
    font-size: 16px;
    border-radius: 0 5px 5px 0;
}