.navbar {
    width: 100%;
    padding: 10px;
}

.navbar .nav {
    width: 85vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.nav .logo i {
    display: none;
}

.nav h1 {
    font-size: 35px;
    font-weight: 600;
    font-family: "DM serif text", sans-serif;
}

.nav .nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
}

.nav .nav-list li {
    letter-spacing: 0.5px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
}

.nav .nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 18px;
}

#menu {
    color: #55aff8;
    font-weight: 600;
}

.hr {
    width: 85vw;
    margin: auto;
    height: 2px;
    border: none;
    border-radius: 50px;
    background: #e1e1e1;
}

.nav-right .user {
    position: relative;
    cursor: pointer;
}

.nav-right .user:hover .sign-in-opt {
    display: block;
}

.sign-in-opt {
    position: absolute;
    top: 110%;
    right: 10%;
    background: #ffffff;
    width: 150px;
    box-shadow: 0 0 10px 2px #c9c9c953;
    display: none;
    z-index: 5;
}

.sign-in-opt .opt-list {
    list-style: none;
}

.sign-in-opt .opt-list .opts {
    text-align: center;
    padding: 10px 5px;
    font-size: 15px;
}

.sign-in-opt .opt-list .opt-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.sign-in-opt .opt-list i {
    font-size: 18px;
}

.sign-in-opt .opt-list .opts:hover {
    background: #ebe9e93f;
    cursor: pointer;
}

.search img,
.user img {
    width: 20px;
    cursor: pointer;
}

.cart i{
    font-size: 25px;
    color:  #444444;
    cursor: pointer;
}

.log-in-btn button{
    padding: 8px 20px;
    font-size: 16px;
    background-color: #55aff8;
    color: white;
    border: none;
    border-radius: 4px;
}

.log-in-btn button:hover{
    background: transparent;
    outline: 2px solid #55aff8;
    color: black;
    cursor: pointer;
}

.close {
    display: none;
}


@media (max-width:800px) {
    .nav {
        width: 100dvw;
    }

    .nav .logo i {
        display: block;
        cursor: pointer;
    }

    #links {
        position: absolute;
        top: 0;
        left: 0;
        background: #fff;
        height: 100dvh;
        width: 250px;
        box-shadow: 0 0 10px 2px #d1d0d0;
        z-index: 10;
    }

    #hidden {
        display: none;
    }

    #links .nav-list {
        align-items: start;
        flex-direction: column;
        font-size: 16px;
        gap: 0;
    }

    #links .nav-list .nav-list-item {
        border-bottom: 1px solid #e6e4e4;
        padding: 15px 30px;
        width: 95%;
        margin: auto;
    }

    #links .nav-list .nav-list-item:hover {
        background: #aaa9a936;
    }

    .close {
        display: block;
        width: 100%;
        text-align: right;
        font-size: 20px;
        margin-bottom: 30px;
        padding: 20px;
        cursor: pointer;
    }
}

@media (max-width:1200px) {
    .nav {
        width: 90vw;
    }
}