.products-container {
    width: 85vw;
    margin: auto;
    margin-top: 100px;
}

.head-pro p {
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #999;
    letter-spacing: 0.8px;
}

.products-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.products-heading h1 {
    font-size: 2.5rem;
    font-family: "dm serif text", sans-serif;
    letter-spacing: 0.8px;
    color: #2c2b2b;
}

.products-heading hr {
    border: none;
    background: #000;
    width: 50px;
    height: 2px;
}

.products-list {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 100px;
    margin-bottom: 200px;
}

.products-list .item-box {
    max-width: 300px;
    max-height: 400px;
    margin-top: 10px;
}

.products-list .item-box .img-container {
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.products-list .item-box .item .img-container img {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    cursor: pointer;
}

.products-list .item-box .item .img-container img:hover {
    scale: 1.05;
}

.item .item-details {
    padding-left: 5px;
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 3px;
    margin-top: 5px;
}

.item .item-details .item-name {
    font-size: 12px;
    font-weight: 500;
}

.item .item-details .item-price {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.4px;
}












































@media (max-width: 750px) {
    .products-container {
        margin-top: 40px;
    }

    .products-list {
        grid-template-columns: 1fr 1fr;
        margin-top: 50px;
    }
}