.hero {
    width: 100%;
}

.img-container {
    width: 85vw;
    margin: auto;
    position: relative;
}

.img-container img {
    width: 100%;
    border: 1px solid #dedddd;
    box-shadow: 0 0 10px 1px #dedddd43;
}

.text-container {
    position: absolute;
    top: 0;
    left: 6%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.text-container h1 {
    font-size: 80px;
    width: 50%;
    font-weight: 600;
    font-family: "dm serif text", sans-serif;
    letter-spacing: 0.8px;
    color: white;
}

.text-container p {
    font-size: 14px;
    width: 40%;
    margin: 20px 0;
    color: #515252;
}

.text-container .hero-btn {
    width: 150px;
    padding: 10px 0;
    border: 1px solid #151515;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.text-container .hero-btn:hover {
    background: #000;
}

@media (max-width:1200px) {
    .text-container h1{
        font-size: 50px;
        width: 600px;
    }
    
    .text-container p{
        font-size: 11px;
    }
    
    .text-container .hero-btn{
        padding: 8px 0;
        font-size: 12px;
    }
}

@media (max-width: 750px) {
    .text-container h1 {
        font-size: 23px;
        width: 300px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .text-container p {
        font-size: 8px;
        margin-top: -5px;
    }

    .text-container .hero-btn {
        width: 100px;
        padding: 5px 0;
        font-size: 10px;
        border-radius: 5px;
        margin-top: -10px;
    }
}
